.container {
  margin: 0 auto;
  width: 700px;
}
.details {
  padding: 50px 0 0 50px;
}
.title {
  color: rgba(10, 10, 10, 0.836);
  font-size: 40px;
  margin-bottom: 13px;
  line-height: normal;
  position: relative;
  font-family: "Lato", Arial, sans-serif;
}
.description {
  bottom: 0px;
  font-size: 16px;
  color: #302e2e;
  
}
.img img {
  width: 200px;
  height: 210px;
  padding-left: 50px;
}

.year {
  color: black;
  font-size: large;
  font-weight: bold;
}

.img {
  height: 500px;
  width: 400px;
  align-items: center;
}
.cont-img {
  display: flex;
  flex-direction: row-reverse;
  font-size: xx-large;
}


